<div ng-show="main.frame == 'pickup'" class="location locations-pickup">
	<div class="form-group">
		<label class="col-sm-2 control-label" for="puCountry">{{main.translations.country}}</label>
		<div class="col-sm-10">
			<div class="select-wrap">
				<!-- <div class="select-value">{{locale.country.selected.name || main.translations.emptySelect}}</div> -->
				<select
				select-focus
				id="puCountry"
				class="form-control"
				ng-disabled="!locale.countries"
				ng-model="locale.country.selected"
				ng-init="locale.country.selected = locale.preselectedCountry"
				ng-options="country as country.name for country in locale.countries track by country.id"
				ng-change="locale.countryChanged(locale.country.selected)">
					<option disabled value="">{{main.translations.emptySelect}}</option>
				</select>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="puCity">{{main.translations.city}}</label>
		<div class="col-sm-10">
			<div class="select-wrap">
				<!-- <div class="select-value">{{locale.city.selected.name || main.translations.emptySelect}}</div> -->
				<select
				select-focus
				id="puCity"
				class="form-control"
				ng-disabled="!locale.cities"
				ng-model="locale.city.selected"
				ng-init="locale.city.selected = locale.preselectedCity"
				ng-options="city as city.name for city in locale.cities track by city.id"
				ng-change="locale.cityChanged(locale.country.selected, locale.city.selected)">
					<option disabled value="">{{main.translations.emptySelect}}</option>
				</select>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="puLocation">{{main.translations.location}}</label>
		<div class="col-sm-10">
			<div class="select-wrap">
				<!-- <div class="select-value">{{locale.location.selected.name || main.translations.emptySelect}}</div> -->
				<select
				select-focus
				id="puLocation"
				class="form-control"
				ng-disabled="!locale.locations"
				ng-model="locale.location.selected"
				ng-init="locale.location.selected = locale.preselectedLocation"
				ng-options="location as location.name for location in locale.locations track by location.id"
				ng-change="locale.locationChanged(locale.country.selected, locale.city.selected, locale.location.selected)">
					<option disabled value="">{{main.translations.emptySelect}}</option>
				</select>
			</div>
		</div>
	</div>
</div>

<div ng-show="main.frame == 'dropoff'" class="location locations-dropoff">
	<div class="form-group">
		<label class="col-sm-2 control-label" for="puCountry">{{main.translations.country}}</label>
		<div class="col-sm-10">
			<div class="select-wrap">
				<!-- <div class="select-value">{{locale.dropCountry.selected.name || main.translations.emptySelect}}</div> -->
				<select
				select-focus
				id="puCountry"
				class="form-control"
				ng-disabled="!locale.dropCountries"
				ng-model="locale.dropCountry.selected"
				ng-options="country as country.name for country in locale.dropCountries track by country.id">
					<option disabled value="">{{main.translations.emptySelect}}</option>
				</select>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="puCity">{{main.translations.city}}</label>
		<div class="col-sm-10">
			<div class="select-wrap">
				<!-- <div class="select-value">{{locale.dropCity.selected.name || main.translations.emptySelect}}</div> -->
				<select
				select-focus
				id="puCity"
				class="form-control"
				ng-disabled="!locale.dropCities"
				ng-model="locale.dropCity.selected"
				ng-options="city as city.name for city in locale.dropCities track by city.id"
				ng-change="locale.dropCityChanged(locale.country.selected, locale.city.selected, locale.location.selected, locale.dropCity.selected)">
					<option disabled value="">{{main.translations.emptySelect}}</option>
				</select>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="puLocation">{{main.translations.location}}</label>
		<div class="col-sm-10">
			<div class="select-wrap">
				<!-- <div class="select-value">{{locale.dropLocation.selected.name || main.translations.emptySelect}}</div> -->
				<select
				select-focus
				id="puLocation"
				class="form-control"
				ng-disabled="!locale.dropLocations"
				ng-model="locale.dropLocation.selected"
				ng-options="location as location.name for location in locale.dropLocations track by location.id">
					<option disabled value="">{{main.translations.emptySelect}}</option>
				</select>
			</div>
		</div>
	</div>
</div>